  <div class="jumbotron">
    <h1 class="display-4"><%= project.title %></h1>
    <p class="lead"><%= project.description %></p>
    <hr class="my-4">
    <p class="lead text-center">
      <%= link_to "Show" , qa_project_show_path(project) ,  class: "btn btn-outline-primary" %>
      <%= link_to "Report Bug" , bug_new_path(project) ,  class: "btn btn-outline-danger" %>
    </p>
  </div>