<div class="jumbotron">
  <h1 class="display-4"><%= @project.title %></h1>
  <p class="lead"><%= @project.description %></p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Back" , projects_path ,  class: "btn btn-outline-primary" %>
  </p>
</div>

<div class="container">
  <h2>User List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%#= render partial: 'user', collection: @users %>
    </tbody>
  </table>
</div>
