<div class="jumbotron">
  <h1 class="display-4"><%= @project.title %></h1>
  <p class="lead"><%= @project.description %></p>
  <hr class="my-4">
  <p class="lead text-center">
    <%= link_to "Back" , developer_project_path,  class: "btn btn-outline-info" %>
  </p>
</div>
<h1 class="display-4 text-center">List of BUG Related to this Project</h1>
<div class="row pb-5">
  <%= render partial: 'bug', collection: @project.bugs%>
</div>
