<ul class="navbar-nav mr-auto">
  <li class="nav-item ">
    <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Project
    </a>
    <div class="dropdown-menu <%= is_active('about') %>" aria-labelledby="navbarDropdown">
      <% if can? :new, ProjectsController %>
        <%= link_to "New", new_project_path, class: "dropdown-item" %>
      <% end %>
      <% if can? :index, ProjectsController %>
        <%= link_to "List", projects_path, class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
</ul>