<div class="container">
  <h2>Project List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'project', collection: @projects %>
    </tbody>
  </table>
</div>
