<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
      .email-heading-center{
          text-align: center;
          font-size: 25px;
      }
  </style>
</head>

<body>

<%= yield %>
</body>
</html>
